<br />
<div class="alert alert-danger" role="alert" *ngIf="hasError">
  Error getting data. Try again.
</div>
<div class="panel panel-success">
  <div class="panel-heading">Select the currency to be converted</div>
  <div class="panel-body text-center">
    <form #convertionForm="ngForm" class="form-inline">
      <input
        type="text"
        name="amount"
        class="form-control text-right"
        placeholder="0"
        [(ngModel)]="convertion.amount"
        number
        required
      />
      <select
        name="currencyFrom"
        class="form-control"
        [(ngModel)]="convertion.currencyFrom"
        required
      >
        <option *ngFor="let currency of currencies" [value]="currency.initials">
          {{ currency.initials }} - {{ currency.description }}
        </option>
      </select>
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <select
        name="currencyTo"
        class="form-control"
        [(ngModel)]="convertion.currencyTo"
        required
      >
        <option *ngFor="let currency of currencies" [value]="currency.initials">
          {{ currency.initials }} - {{ currency.description }}
        </option>
      </select>
      <input
        type="submit"
        value="Converter"
        class="btn btn-success"
        (click)="converter()"
        [disabled]="!convertionForm.form.valid"
        data-target="#modalQuotation"
        data-toggle="modal"
      />
    </form>
  </div>
  <app-modal
    [id]="'modalQuotation'"
    [convertionResponse]="convertionResponse"
    [convertion]="convertion"
    (onConfirm)="init()"
  >
  </app-modal>
</div>
